
<div class="row">
    <div class="twelve columns" id="main-container">
      <section class="row" id="home">
    
          <div class="five columns home-left">
            <div id="home-photo"><img src="http://upload.wikimedia.org/wikipedia/commons/2/20/YumbuLhakhang.jpg"></div>
          </div>
          
          <div class="seven columns home-right">
            <div id="home-text">
            <br/><br/>
              <h3 class="bold" >བོད་སྐྱོབ་</h3><br/>
              <h4 >The Conserve Tibet Project</h4>
              <hr class="highlight-hr" />
              <h5 class="text-left"><object height="18" width="100%"><param name="movie" value="https://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/120838889&amp;color=ff6600&amp;auto_play=false&amp;player_type=tiny"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="transparent"></param><embed wmode="transparent" allowscriptaccess="always" height="18" width="100%" src="https://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/120838889&amp;color=ff6600&amp;auto_play=false&amp;player_type=tiny"></embed></object></h5>
              <h5 class="text-left"><object height="18" width="100%"><param name="movie" value="https://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/120838889&amp;color=ff6600&amp;auto_play=false&amp;player_type=tiny"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="transparent"></param><embed wmode="transparent" allowscriptaccess="always" height="18" width="100%" src="https://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/120838889&amp;color=ff6600&amp;auto_play=false&amp;player_type=tiny"></embed></object></h5>
            </div>
            
          </div>
        
        
      </section><!-- end of Home -->

 <section class="row divider text-center">
          <div class="button">
          <span class="left"><h4 class="bold" > <%= link_to "Browse Collection", browse_path, class: "navigation"  %></h4></span></div>
          <div class="button">
          <span class="left"><h4 class="bold" > <%= link_to "འཚོལ།", browse_path, class: "navigation"  %> </h4></span></div>
      </section>



        
      
      
      <section class="row page" id="profile" data-magellan-destination='profile'>
      
        <div class="twelve columns">
          <h5 class="page-heading">བཀྲ་ཤིས་བདེ་ལེགས  |  Welcome</h5>

        </div>
        
        <div class="twelve columns">
        
<p>
We are actively engaged and dedicated in restoring many audio and video materials from 60’s to early 70’s containing literary materials, dharma teachings, cultural programs and so forth that are of historical and cultural importance to the Tibetan people. We found many of these treasures collecting dust at run down storages and neglected private collections in India and Nepal.<br /><br />

Materials, both video and audio, like these are of prime importance to our literature, culture and religion. We want to make an effort to identify and preserve such legacy so that they can live beyond their authors and benefit all. We will keep you updated.<br /><br /> If you need to get intouch with us please email info(at)youngtibet.com

Again, thank you very much. Your presence is appreciated,

The Conserve Tibet Team.
            </p>  
    

        </div>
        
      </section><!-- end of Profile -->
      
    

      
      
      
      
<section class="row page" id="profile" data-magellan-destination='profile'>
        
            <div class="twelve columns">
                <h5 class="page-heading">OUTMOST GRATITUDE (ཐུགས་རྗེ་ཆེ):</h5>
           
            </div>
            
            <div class="twelve columns">
                <div class="twelve columns">
                    <h5 class="bold">
                        This project was made possible with the support of following organisations:
                    </h5>
                 <div class="four columns">
                    <a href="http://www.sdrubin.org/"><%=image_tag 'rubin.jpg'%></a>
                 </div>
                 <div class="four columns">
                   <a href="http://www.tibetfund.org/"> <%=image_tag 'tibetfund.jpg'%></a>
                 </div>
                 <div class="four columns">
                   <a href="http://www.vajratv.com"> <%=image_tag 'vajratv.jpg' %></a>
                 </div>
                 <div class="twelve columns">
                    <hr /> 
                    <h5 class="bold">
                        and these wonderful individuals:
                    </h5>
                    <h5>Jamyang Dorjee Chakrishar, Rinchen Dharlo, Tsultrim Chophel, Alexander Gardner, Ph. D and Thupten N Chakrishar.</h5>
                </div>
            </section>