<div class="row">
    <div class="twelve columns" id="main-container">


<section class="row page" id="profile" data-magellan-destination='profile'>
      
        <div class="twelve columns">
          <h5 class="page-heading"><%= link_to "All", browse_path %></h5> &nbsp; &nbsp;  <h5 class="page-heading"> <a href="../tags/Interview">Interviews</h5></a>  &nbsp; &nbsp; <h5 class="page-heading"> <a href="../tags/Tibetan">བོད་སྐད</h5></a>

          <br/><br/>

        </div>
        
                <div class="twelve columns">

     

  <div class="twelve columns project-row">
             <% @articles.each do |article| %>
        
          <div class="six columns project-item">
            <div class="project-img-wrap" data-width="210" title="View this project">
             <%=raw article.sound %>

            </div>
            </a>
            <div class="project-details">
              <h5 ><%= article.teacher %></h5>
              <h6 ><%= article.recorded %></h6>
              <h5 class="thick highlight-color"><%= link_to "View Page", article, class: "viewpage" %></h5>
          
           
            </div>
          </div>
          <%end%> 


        
</section><!-- end of Profile -->

